<h1>XoXo Game</h1>
<hr>
<div class="alert alert-warning">
    <h2>{{massage}}</h2>
</div>
<button class="btn btn-outline-danger w-100 " (click)="newGame()">New Game</button>
<hr>
<hr>
<div class="row">
    <button  style="height: 140px; border: 1px solid #ccc; font-size: 80px; color:#413b4a" *ngFor="let g of game let i =index"
    (click)="setMark(i)" class="col-sm-4 " [ngClass]="changColor(g.winner)">{{g.mark}}</button>
</div>
<hr>
<button class="btn btn-primary mx-1 mt-1"  *ngFor="let m of setMove let i =index" (click)="moveSet(i)">{{i  +1 }} . Move</button>
<hr>
